<template>
  <div id="app">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
           <!-- Brand -->
           <a class="navbar-brand" href="#">MariusVue</a>
           <a href="#" id="shopping-cart" class="navbar-brand  hidden-xs"><myCart/></a>
           <!-- Toggler/collapsibe Button -->
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
           </button>

           <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                 <li class="nav-item">
                    <router-link to="/about">About</router-link>
                 </li>
                 <li class="nav-item">
                    <router-link to="/">Home</router-link>
                 </li>
                 <li class="nav-item">
                    <router-link to="/Contact">Contact</router-link>
                 </li>
                     <router-link to="/Contact">Contact</router-link>

              </ul>
           </div>
        </nav>
    <router-view/>

  </div>

</template>
<script>
    import myCart from "./components/myCart"
    export default {
        name: "App",
        components: {
           myCart
        },
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.nav-item {
  padding: 10px;
  font-weight: bold;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
