<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/vue1.css"/>
        <title>Exo de perfectionnement</title>
    </head>
    <body>
        <div id="vue1">
            <h1>Prénom : {{Prenom}}</h1>
            <h1>Nom : {{Nom}}</h1>
            <h1>Age: {{Age}}</h1>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/vue1.js"></script>
    </body>
<html/>