<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/vue1.css"/>
        <title>Exo de perfectionnement</title>
    </head>
    <body>
        <div id="app">
            <h1>VueMarius</h1>

            <h2>Panier</h2>
              <ul>
                <li>Pommes: {{ costOfApples }}€</li>
                <li>Bananes: {{ costOfBananas }}€</li>
                <li>Noix de coco: {{ costOfCoconuts }}€</li>
              </ul>
            <p>Total: {{ totalPrice }}€</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/vue2.js"></script>
    </body>
<html/>