<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/vue1.css"/>
        <title>Exo de perfectionnement</title>
    </head>
    <body>
        <div id="app">
            <h1>VueMarius</h1>

            <h2>Panier</h2>
              <ul>
                <li v-for="item in shoppingCart"><a :href="item.url">{{item.label}}:</a> {{ item.cost }}€</li>
              </ul>
            <p>Total: {{ totalPrice }}€</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/vue3.js"></script>
    </body>
<html/>