<template>
    <div>
        <p href="##" id="shopping-cart">Panier : {{ shoppingCart }} articles</p>
    </div>
</template>
<script>
import { mapState } from "vuex"
    export default {
        name: "myCart",
         computed: {
             ...mapState({shoppingCart: "shoppingCart"})
         },
    }
</script>
<style lang="scss">
#shopping-cart{
    position: absolute;
    right : 30px;
    top: 0;
}
</style>
