<script>
import { mapActions } from "vuex"
import BaseButton from "./BaseButton.vue"
export default {
name: "WatchStore",
components: {
		BaseButton
	},
props: {
image:{
          type: Object,
          required: true
      },
inStock:{
        type: Boolean,
        required: true
    },
name: {
        type: String,
        required: true
    },
price: {
         type: Number,
         required: true
     },
quantity: {
         type: Number,
         default: 1
      },
empty:{
          type: Number,
          required: false
      },
},
data() {
		return {
			onSale: false
		}
	},
computed: {
		generatedPrice() {
			if (this.onSale) {
				return (this.price * 0.5).toFixed(2)
			} else {
				return this.price
			}
		}
	},
methods: {
    ...mapActions(["cleanShoppingCart"]),
    ...mapActions(["updateShoppingCart"])
    },
beforeMount() {
        const today = new Date().getDate()
        if (today % 2 !== 0) {
            this.onSale = true
        }
    }
}
</script>
<template>
    <div class="watch-store">
        <img class="watch-store__image" :src="image.source" :alt="image.alt" />
        <div>
            <div>
                <h3>{{ name }}</h3>
			<p>
				Prix : {{ generatedPrice }}
				<span v-if="onSale">(50% de réduction !)</span>
			</p>
               <p v-if="inStock"> En stock</p>
               <p v-else>En rupture de stock</p>
            </div>
            <div>
                <label for="add-item-quantity">Quantité : {{ quantity }}</label><br/>
                <input v-model.number="quantity" id="add-item-quantity" type="number"/>
                <BaseButton @click="updateShoppingCart(quantity)" class="test">Ajouter au panier</BaseButton>
            </div>
                <p class="clearShoppingCart">
                    <input v-model.number="empty" id="add-watch-quantity" type="hidden"/>
                    <button @click="cleanShoppingCart(empty)" > vider mon pagné </button>
            </p>
        </div>
    </div>
</template>

<style lang="scss">
.watch-store{
	display: flex;
	width: 500px;
	justify-content: space-between;
	margin-bottom: 30px;

	&__image {
		max-width: 200px;
	}
}
</style>
