<template>
  <div class="app">

    <Info>
        <h1>{{ watchCompanyName }}</h1>
    </Info>
    <p class="description">
			Bienvenue dans notre boutique en ligne. Nous sommes réputé pour
            la qualité des montres de la société {{ watchCompanyName }}.
            Elégantges, résistantes et de bonnes qualitées, nos montres ne vous décevront pas.
    </p>
    <section class="myWatch">
        <h2>My watch</h2>
        <WatchStore
            v-for="myWatch in watchList"
            :name="myWatch.name"
            :image="myWatch.image"
            :price="myWatch.price"
            :quantity="myWatch.quantity"
            :inStock="myWatch.inStock"
            :key="myWatch.name"
        />
    </section>

    <footer class="footer">
        <p>{{ copyright }}</p>
    </footer>
  </div>
</template>

<script>
    import Info from "../components/Info"
    import WatchStore from "../components/WatchStore"
    import { mapGetters, mapState } from "vuex"
    export default {
        name: "Home",
        components: {
        WatchStore,Info
        },
         computed: {
             ...mapGetters({copyright: "copyright"}),
             ...mapState({
             watchCompanyName: "watchCompanyName",
             watchList: "watchList"})
         },

    }
</script>
