#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#collapsibleNavbar a {
  padding: 10px;
  font-weight: bold;
  color: white;
}

#shopping-cart{
   padding: 10px;
    color: white;
}

.description {
  max-width: 960px;
  font-size: 1.2rem;
  margin: 0 auto;
}


.footer {
  text-align: center;
  font-style: italic;
}

.myWatch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clearShoppingCart{
    position: absolute;
    right : 30px;
    margin-top : 60px;
    top: 0;
}

